<div mat-dialog-content>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    [roundCropper]="true"
    [resizeToWidth]="128"
    [cropperMinWidth]="512"
    [onlyScaleDown]="true"
    [containWithinAspectRatio]="false"
    [style.display]="showCropper ? null : 'none'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
  ></image-cropper>

  <img hidden [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" style="border-radius: 100%;"/>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="croppedImage">Ok</button>
</div>
