button {
  margin: 0 auto; // auto left/right margins
  display: block;
  width: 15em;
  height: 35px;
  background-color: #58427C;
  color: #FCF6F5FF;
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
