<mat-toolbar>
  <mat-toolbar-row>
    <span class="text-color" style="margin-right: 5%">Wishlist </span>
    <button class="button-color" *ngIf="(auth.userData | async)" matTooltip="Home Page" matTooltipShowDelay="300" mat-mini-fab aria-label="home" [routerLink]="['/home']" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>
    <button class="button-color" *ngIf="(auth.userData | async)" matTooltip="Group Page" matTooltipShowDelay="300" mat-mini-fab aria-label="tag_faces" style="margin-left: 20px" [routerLink]="['/groups']" >
      <mat-icon>tag_faces</mat-icon>
    </button>
    <span class="bar-spacer"></span>
    <div routerLink="/profile" matTooltip="Profile Page" matTooltipShowDelay="300" *ngIf="(auth.userData | async)">
      <img *ngIf="profilePic | async" [src]="profilePic | async" class="profile-image">
      <!--<img *ngIf="!(profilePic | async)" src="../../../assets/defaultUserIcon.png" class="profile-image"/>-->
    </div>
    <button class="button-color" *ngIf="(auth.userData | async)" (click)="logout()" mat-flat-button aria-label="Sign-out">
      <mat-icon>lock_open</mat-icon> Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
