.login{
  width: 200px;
  margin: auto;
}

.vertical-center {
  width: 200px;
  margin: 0;
  position: absolute;
  top: 20%;
}

input {
  width: 200px;
  border-width: 2px;
}

button {
  width: 204px;
}
