.vertical-separator {
  margin-top: 3em;
}

.separator {
  margin-bottom: 1em;
}

.login-text-size {
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}

.logInButton {
   width: 15em;
   background-color: #58427C;
   color: #FCF6F5FF;
   font-size: 100%;
 }
.createAccountButton{
  width: 10em;
  margin-top: 4%;
  background-color: #58427C;
  color: #FCF6F5FF;
  font-size: 100%;
}

mat-card {
  top: 2em;
  max-width: 30em;
  height: 22em;
  margin: 2em auto;
  padding: 4em;
  text-align: center;
  background-color: #2BAE66;
  border-radius: 25%;
  color: #FCF6F5FF;
}

mat-form-field {
  display: block;
  font-size: 1em;
  width: 80%;
  margin: auto;
}
