<div>
<h2 id="title">Edit your wish</h2>
<form [formGroup]="wishForm" (ngSubmit)="editWish()" id="wishForm" >
  <input placeholder="Name" formControlName="name">
  <input placeholder="Description" formControlName="description">

  <textarea placeholder="Paste url" formControlName="url" id="url" form="wishForm"></textarea>
  <br><br>
  <button type="submit">Save</button>
</form>
<button (click)="cancel()" style="margin-top: 10px; margin-bottom: 15px">Cancel</button>
<br><br>
<button (click)="remove()">Delete</button>
</div>
