<h1 class="welcome">
   WATCHING MODE
</h1>

<body>
<h2>{{watchedMember}} Wishes:</h2>
<div *ngIf="w">
  <div *ngFor="let wish of w.wishes">
    <mat-card class="wish-card" (click)="buy(wish)">
      <mat-card-title>{{wish.name}}</mat-card-title>
      <mat-card-content *ngIf="wish.description.toString().length > 0">{{wish.description}}</mat-card-content>
      <mat-card-content *ngIf="wish.buyer !== undefined && wish.buyer.length > 0">
        This users are buying that gift for {{watchedMember}}
        <div *ngFor="let buyer of wish.buyer">{{buyer.firstname}}{{buyer.lastname}}</div>
      </mat-card-content>
      <mat-card-actions>
        <a href="{{wish.url}}" target="_blank">{{wish.url}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="!w">
  <h1>This user doesn't have any wishes yet.</h1>
</div>
</body>
