button {
  background-color: #58427C;
}

mat-icon {
  alignment: center;
  color: #58427C;
  font-size: 9.2em;
}

.profile-image {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  border: #2BAE66 groove thin;
  background-image: url("src/assets/defaultUserIcon.png");
  background-size: 128px 128px;
}

.image-container {
  position: relative;
  width: 128px;
  height: 128px;
}

.image-container:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  background-color: #b8b5b5;
  border: #58427C double thin;
  border-radius: 50%;
}
