mat-icon {
  color: #58427C;
  font-size: 9.2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container{
  margin-top: 10%;
}

.profile-image {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  border: #2BAE66 groove thin;
  background-size: 128px 128px;
}

.button-color {
  background-color: #58427C;
  color: #FCF6F5FF;
}

.image-container {
  position: relative;
  width: 128px;
  height: 128px;
  margin-right: auto;
  margin-left: auto;
}

.image-container:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  background-color: #b8b5b5;
  border: #58427C double thin;
  border-radius: 50%;
}

.grid-items {
  background-color: #2BAE66;
  height: 18em;
  width: 18em;
  border-radius: 25%
}

.profile-container {
  margin-top: 2em;
}


.group-list-container {
  height: 100%;
  width: 100%;
}

#profile-card {
  text-align: center;
}

#group-card {
  font-size: 1rem;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  text-align: center;
}
