<input hidden type="file" (change)="selectProfileImage($event)" #fileInput>

<div *ngIf="user | async as u">
  <div class="image-container">
    <img *ngIf="profilePic | async" [src]="profilePic | async" class="profile-image" id="profileImage">
    <img *ngIf="!(profilePic | async)" src="../../assets/defaultUserIcon.png" class="profile-image"/>
    <div class="overlay" fxLayoutAlign="center center" (click)="this.fileInput.click()">
      <mat-icon>add</mat-icon>
    </div>
  </div>
  <div class="profile-name">
    <h1>{{u.firstname + ' ' + u.lastname}}</h1>
  </div>
</div>

<!---<mat-form-field hintLabel="Max 10 characters" appearance="fill">
  <mat-label>Enter some input</mat-label>
  <input matInput #input minlength="6" placeholder="Ex. Nougat">
  <mat-hint align="end">{{6 - input.value?.length || 6}}/6</mat-hint>
</mat-form-field>--->
