mat-grid-list {
  alignment: top;
  float: top;
}

mat-list-item:hover {
  cursor: pointer;
  color: #535151;
}
.edit-bar {
  width: 15%;
}
mat-expansion-panel {
  background-color: #2BAE66;
  width: 60%;
  text-align: center;
  margin: 1em auto;
}

.member-list {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 60%;
  text-align: center;
  margin: 5rem auto;
}

.button-color {
  background-color: #58427C;
  color: #FCF6F5FF;
}

.button-color:disabled {
  background-color: #58427C;
  opacity: 50%;
}

.grid-items {
  background-color: #2BAE66;
  height: auto;
  width: auto;
  border-radius: 25%
}

.join-button {
  width: 2em;
  background-color: #58427C;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 85%;
}

.create-button {
  width: 2em;
  background-color: #23c63f;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 85%;
}

.interact-button {
  width: 2em;
  background-color: #2BAE66;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cancel-button {
  width: 2em;
  background-color: indianred;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.interact-input {
  background-color: #b8b5b5;
  border-radius: 5%;
  height: 3.2em;
  width: 14em;
  opacity: 50%;
  border: darkgrey thin solid;
}

.left-button {
  margin-right: 0.5em;
}

.right-buttom {
  margin-left: 0.5em;
}

.profile-container {
  margin-top: 1.5em;
  text-align: center;
}
.pagination-container {
  padding: 1em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.group-list-container {
  height: 100%;
  width: 100%;
}

#group-card {
  font-size: 1rem;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  text-align: center;
}
#addMemberButton{
  margin: 0 auto; // auto left/right margins
  display: block;
  width: 2em;
  height: 35px;
  background-color: #58427C;
  color: #FCF6F5FF;
  font-size: 100%;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

