body {
  text-align: center;
}

a:link, a:visited {
  color: white;
}
#transparentText{
  color: rgba(255,255,255, 0.8);
}

mat-spinner {
  margin-right: auto;
  margin-left: auto;
}

#loading {
  margin-top: 10rem;
  width: 100%;
}

.welcome {
  margin: 30px auto;
  width: 80%;
  max-width: 1000px;
}

.wish-card {
  background-color: #2BAE66;
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

.wish-card:hover {
  cursor: pointer;
}

.edit-bar {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

#add-wish-card {
  width: 50px;
}

#add-wish-card :hover {
  cursor: pointer;
}


