<div *ngIf="user">
  <h1 class="welcome">
    Welcome {{user.firstname}}!
  </h1>

  <body>
  <h2>Your wishes:</h2>
  <div *ngIf="wishlist">
    <div *ngFor="let wish of wishlist.wishes">
      <mat-card class="wish-card" (click)="editWish(wish)">
        <mat-card-title>{{wish.name}}</mat-card-title>
        <mat-card-content *ngIf="wish.description.toString().length > 0">{{wish.description}}</mat-card-content>
        <mat-card-actions>
          <a href="{{wish.url}}" target="_blank">{{wish.url}}</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!wishlist">
    <h1>You don't have any wish yet.</h1>
  </div>
  <div class="edit-bar row">
    <mat-card (click)="addWish()" id="add-wish-card">
      <mat-card-title>+</mat-card-title>
    </mat-card>
  </div>
  </body>
</div>

<div *ngIf="!(user)" id="loading">
  <mat-spinner diameter="300"></mat-spinner>
</div>
