.welcome {
  margin: 30px auto;
  width: 80%;
  max-width: 1000px;
}

body {
  text-align: center;
}

a:link, a:visited {
  color: white;
}

mat-card {
  background-color: #2BAE66;
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
}

